@page "/counter"

<h1>Counter</h1>

<!-- Affiche le titre de la page. -->

<p role="status">Current count: @currentCount</p>

<!-- Affiche le compteur actuel. La valeur de @currentCount est directement intégrée dans le texte. -->

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<!-- Un bouton avec une classe CSS "btn btn-primary". L'attribut @onclick spécifie la méthode à appeler lors du clic sur le bouton. Dans ce cas, la méthode "IncrementCount". -->
