@page "/counter"

<h1>Compteur</h1>

<!-- Affiche le titre de la page. -->

<p role="status">Comptage courant : @this.currentCount</p>

<!-- Affiche le compteur actuel. La valeur de @currentCount est directement intégrée dans le texte. -->

<button class="btn btn-primary" @onclick="this.IncrementCount">Cliquez ici !</button>

<!-- Un bouton avec une classe CSS "btn btn-primary". L'attribut @onclick spécifie la méthode à appeler lors du clic sur le bouton. Dans ce cas, la méthode "IncrementCount". -->

@code
{
    // Déclaration du bloc de code C# associé à cette page Razor.
    private int currentCount = 0;
    // Déclaration d'une variable privée pour stocker le compteur.
    private void IncrementCount()
    {
        // Méthode appelée lors du clic sur le bouton.
        // Incrémente la valeur de currentCount.
        this.currentCount = this.currentCount + 1;
    }
}