@page "/todo/{Id}"

<!-- Importation des espaces de noms et injection des dépendances -->
@using TodoListMauiApp.Models
@using TodoListMauiApp.Services
@inject ITodoService TodoService
@inject NavigationManager Navigation

<!-- Condition : si la tâche (todo) existe -->
@if (Todo != null)
{
    <!-- Affichage du titre de la page -->
    <h3>@Todo.Name</h3>
    <!-- Affichage du nom de la tâche -->
    <p><strong>Nom:</strong> @this.Todo.Name</p>
    <!-- Affichage de la description de la tâche -->
    <p><strong>Description:</strong> @this.Todo.Description</p>
    <!-- Lien pour revenir à la liste des tâches -->
    <p><a href="/fetchdata">Revenir à la liste</a></p>
}
else
{
<!-- Message indiquant que la tâche n'a pas été trouvée -->
<p>Non trouvé !!</p>
}

@code
{
    [Parameter]
    public string Id { get; set; }
    private TodoModel Todo;

    protected override async Task OnInitializedAsync()
    {

        if (int.TryParse(this.Id, out int todoId))
        {

            this.Todo = await this.TodoService.GetTodoByIdAsync(todoId);
        }
    }
}

